.headers {
  margin-left: 20%;
  margin-right: auto;
  margin-top: 13%;
  font-size: 2.2rem;
  font-weight: 600;
}

.name {
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 2%;
  padding-left: 6px;
  color: rgb(135, 65, 216);
  font-weight: 100;
}
.title {
  line-height: 1.2;
}

@media (max-width: 481px) {
  .headers {
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
  }
  .name {
    margin-top: 150px;
    text-align: center;
  }
}
