.header {
    display: flex;
    justify-content: space-between;
	background-color: rgb(15, 0, 31);
    align-items: center;

}

.logo {
    margin: 15px;
    color: white;
	background-color: rgb(15, 0, 31);

}

.navbar {
    text-align: right;
    margin: 15px;
	background-color: rgb(15, 0, 31);

}

.anchor {
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 15px;
	background-color: rgb(15, 0, 31);
    font-weight: 300;

}
.anchor:hover {
    color: rgb(135, 65, 216);
}